html {
    background: #FFF;
    color: #000;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after { content: ''; }

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input, textarea, select { *font-size: 100%; }

legend { color: #000; }

#yui3-css-stamp.cssreset { display: none; }

/***************End reset********************/


body { font-family: 'PT Sans', sans-serif; }

.admin-login {
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
    display: inline-block;
    padding: 40px 70px;
}

.admin-login input[type="text"], .admin-login input[type="password"], .admin-login select {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px 12px;
    width: auto !important;
}

.admin-login span {
    color: #666;
    display: inline-block;
    font-size: 16px;
    width: 100px;
}

.admin-wrapper {
    margin: 20% auto 0;
    width: 435px;
}

.button {
    background-color: #1d8a0a;
    border: none;
    border-radius: 3px;
    color: white;
    float: right;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 18px;
    text-decoration: none;
    transition: 0.2s;
}

.button:hover {
    background: rgba(29, 138, 10, .75);
    cursor: pointer;
}

/*******************************************************************/

body {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    max-width: 1920px;
    min-width: 1000px;
    padding-top: 36px;
    position: relative;
    width: 100%;
}

.left-menu {
    display: inline-block;
    float: left;
    height: 100%;
    padding: 0px 30px 0px 30px;
    width: 13%;
}

.menu-wrapper {
    height: 100%;
    margin: 0 auto;
    width: 80%;
}

nav {
    height: 100%;
    width: 100%;
}

nav a {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 15px 8px 15px 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

nav a:hover {
    background: #239169;
    border-color: #239169;
    color: #fff;
    transition: all 0.15s ease-in-out;
}



.active, .active:hover {
    background: #239169;
    border-color: #239169;
    color: #fff;
}

.main-block {
    display: inline-block;
    width: 80%;
}

.main-blcok-wrapper {
    margin: 0 auto;
    width: 98%;
}

.header {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #239169;
    border-radius: 2px;
    color: #fff;
    height: 20px;
    margin-bottom: 30px;
    padding: 15px 8px 15px 8px;
}

.footer {
    border-top: 1px solid #ddd;
    color: #000;
    font-size: 12px;
    margin-top: 100px;
    padding: 12px 0;
}

thead {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 18px;
}

thead > tr > th {
    background-color: #fafafa;
    box-sizing: border-box;
    font-weight: bold;
    padding: 10px 12px;
    vertical-align: middle;
}

tbody > tr > td {
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 12px;
    vertical-align: middle;
}

tbody > tr { border-top: 1px solid #ddd; }

tbody > tr:last-child { border-bottom: 1px solid #ddd; }

.action-buttons a {
    background-size: 24px;
    display: inline-block;
    height: 24px;
    margin: 0 0 0 4px;
    width: 24px;
}

.edit-button { background: url('/Content/images/pencil_2553.png') no-repeat center center; }

.remove-button { background: url('/Content/images/button_delete_red_2750.png') no-repeat center center; }


/*=========================Form ===================*/


.middle form {
    display: inline-block;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 70%;
}

.middle form h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.middle form input[type="submit"] {
    background-color: #6ca72f;
    border: none;
    border-radius: 3px;
    color: white;
    float: right;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 18px;
    text-decoration: none;
    transition: 0.2s;
}

.middle form input[type="submit"]:hover {
    background: #9FD468;
    cursor: pointer;
}


.middle form input[type="text"] {
    border-color: rgba(190, 190, 190, 1);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 100%;
    min-width: 100px;
    padding: 10px;
    transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    width: 100%;
}

.middle form input[type="text"]:focus {
    border-color: #9FD468;
    outline: none;
}

.middle form input[type="radio"] { display: inline-block; }



.middle form h2 {
    display: inline-block;
    float: left;
    font-size: 24px;
    width: 130px;
}

.radio-block {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.checkbox {
    height: 17px;
    margin: 0 3px 0 0;
    vertical-align: top;
    width: 17px;
}

.checkbox + label { cursor: pointer; }

.checkbox:not(checked) {
    opacity: 0;
    position: absolute;
}

.checkbox:not(checked) + label {
    padding: 0 0 0 60px;
    position: relative;
}

.checkbox:not(checked) + label:before {
    background: #CDD1DA;
    border-radius: 13px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    content: '';
    height: 26px;
    left: 0;
    position: absolute;
    top: -4px;
    width: 50px;
}

.checkbox:not(checked) + label:after {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    content: '';
    height: 22px;
    left: 2px;
    position: absolute;
    top: -2px;
    transition: all .2s;
    width: 22px;
}

.checkbox:checked + label:before { background: #9FD468; }

.checkbox:checked + label:after { left: 26px; }

.checkbox:focus + label:before { box-shadow: 0 0 0 3px rgba(255, 255, 0, .5); }



.radio {
    height: 17px;
    margin: 0 3px 0 0;
    vertical-align: top;
    width: 17px;
}

.radio + label { cursor: pointer; }

.radio:not(checked) {
    opacity: 0;
    position: absolute;
}

.radio:not(checked) + label {
    padding: 0 0 0 35px;
    position: relative;
}

.radio:not(checked) + label:before {
    background: #FFF;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    content: '';
    height: 22px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 22px;
}

.radio:not(checked) + label:after {
    background: #9FD468;
    border-radius: 50%;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    content: '';
    height: 16px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 1px;
    transition: all .2s;
    width: 16px;
}

.radio:checked + label:after { opacity: 1; }

.radio:focus + label:before {
    -ms-box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
    -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
    box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
}

.meta-border {
    border: 1px solid rgba(190, 190, 190, 1);
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 94.4%;
    padding: 20px 15px 20px 15px;
    width: 100%;
}

.meta-border:hover { border-color: #9FD468; }


.image {
    border: 1px solid rgba(190, 190, 190, 1);
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 9px 0px 9px 0px;
    width: 100%;
}

.image input[type="file"] { margin-left: 10px; }

textarea {
    -moz-min-width: 100%;
    -moz-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -ms-min-width: 100%;
    -ms-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -o-min-width: 100%;
    -o-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -webkit-min-width: 100%;
    -webkit-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    border-color: #bebebe;
    border-color: rgba(190, 190, 190, 1);
    border-style: solid;
    border-width: 1px;
    height: 180px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
}

textarea:focus {
    border-color: #9FD468;
    outline: none;
}

.box-image {
    display: inline-block;
    width: 30%;
}

.new-meta {
    border: 1px solid #bebebe;
    margin: 0 auto;
    width: 480px;
}


.meta-href {
    background: url('/Content/images/Add_circular_button_32.png') no-repeat center center;
    display: inline-block;
    height: 40px;
    width: 50px;
}


.add-new-entry {
    background: url('/Content/images/Add_button_inside_black_circle_64.png') no-repeat center center;
    display: inline-block;
    height: 64px;
    margin-bottom: 20px;
    width: 64px;
}

.add-new-entry:hover { background: url('/Content/images/Add_button_inside_black_circle_64_hover.png') no-repeat center center; }


.way-edit {
    -ms-border-radius: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px 0px 20px 10px;
    width: 99%;
}

.way-show { width: 40%; }

.way-show span {
    border-bottom: 1px solid #454545;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    width: 30%;
}

.way-edit .button {
    float: none;
    margin: 0;
    padding: 2px 18px;
}

.doc-name {
    -ms-border-radius: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 20px 0px 20px 10px;
    width: 99%;
}

/*********Poup-up-block***********/

.b-popup {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 500;
}

.b-popup .b-popup-content {
    -ms-border-radius: 5px;
    -ms-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    margin: 40px auto 0px auto;
    padding: 10px;
    width: 80%;
    z-index: 999;
}


.way-edit, .doc-name, .doc-pass {
    -ms-border-radius: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px 0px 20px 10px;
    width: 99%;
}

/*********Validate styles***********/

input {
    border: 1px solid #cecece;
    border-radius: 8px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    width: auto;
}

input[type="text"]:focus { outline: none; }

.error input[type="text"] {
    -ms-box-shadow: inset 0 1px 1px #000000 !important;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-box-shadow: inset 0 1px 1px #000000 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    border-color: #a94442 !important;
    box-shadow: inset 0 1px 1px #000000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

input.error {
    -ms-box-shadow: inset 0 1px 1px #000000 !important;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-box-shadow: inset 0 1px 1px #000000 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    border-color: #a94442 !important;
    box-shadow: inset 0 1px 1px #000000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

.error { color: red; }

input.valid {
    -ms-box-shadow: inset 0 1px 1px #000000 !important;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-box-shadow: inset 0 1px 1px #000000 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    border-color: #3c763d !important;
    box-shadow: inset 0 1px 1px #000000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

label { display: block; }