/*!
 * froala_editor v2.0.1 (https://www.froala.com/wysiwyg-editor)
 * License https://froala.com/wysiwyg-editor/terms
 * Copyright 2014-2015 Froala Labs
 */

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.fr-view {
    /**
   * Image style.
   */
    /**
   * Video style
   */
}

.fr-view table {
    border: none;
    border-collapse: collapse;
    empty-cells: show;
    max-width: 100%;
}

.fr-view table.fr-dashed-borders td,
.fr-view table.fr-dashed-borders th { border-style: dashed; }

.fr-view table.fr-alternate-rows tbody tr:nth-child(2n) { background: #f5f5f5; }

.fr-view table td,
.fr-view table th { border: 1px solid #dddddd; }

.fr-view table td:empty,
.fr-view table th:empty { height: 20px; }

.fr-view table td.fr-highlighted,
.fr-view table th.fr-highlighted { border: 1px double red; }

.fr-view table td.fr-thick,
.fr-view table th.fr-thick { border-width: 2px; }

.fr-view table th { background: #e6e6e6; }

.fr-view hr {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    clear: both;
    page-break-after: always;
    user-select: none;
}

.fr-view .fr-file { position: relative; }

.fr-view .fr-file::after {
    content: "\1F4CE";
    font-weight: normal;
    position: relative;
}

.fr-view pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.fr-view blockquote {
    border-left: solid 2px #5e35b1;
    color: #5e35b1;
    margin-left: 0;
    padding-left: 5px;
}

.fr-view blockquote blockquote {
    border-color: #00bcd4;
    color: #00bcd4;
}

.fr-view blockquote blockquote blockquote {
    border-color: #43a047;
    color: #43a047;
}

.fr-view a.fr-strong { font-weight: 700; }

.fr-view a.fr-green { color: green; }

.fr-view span.fr-emoticon {
    display: inline;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    font-weight: normal;
    line-height: 0;
}

.fr-view .fr-text-gray { color: #AAA !important; }

.fr-view .fr-text-bordered {
    border-bottom: solid 1px #222;
    border-top: solid 1px #222;
    padding: 10px 0;
}

.fr-view .fr-text-spaced { letter-spacing: 1px; }

.fr-view .fr-text-uppercase { text-transform: uppercase; }

.fr-view img {
    cursor: pointer;
    overflow: auto;
    position: relative;
    z-index: 3;
}

.fr-view img.fr-dib {
    display: block;
    float: none;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: top;
}

.fr-view img.fr-dib.fr-fil {
    left: 5px;
    margin: 5px auto 5px 0;
}

.fr-view img.fr-dib.fr-fir {
    margin: 5px 0 5px auto;
    right: 5px;
}

.fr-view img.fr-dii {
    display: inline-block;
    float: none;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.fr-view img.fr-dii.fr-fil {
    float: left;
    left: 5px;
    margin: 5px 10px 5px 0;
}

.fr-view img.fr-dii.fr-fir {
    float: right;
    margin: 5px 0 5px 10px;
    right: 5px;
}

.fr-view img.fr-rounded {
    -moz-background-clip: padding;
    -moz-border-radius: 100%;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 100%;
    background-clip: padding-box;
    border-radius: 100%;
}

.fr-view img.fr-bordered { border: solid 10px #CCC; }

.fr-view .fr-video {
    position: relative;
    text-align: center;
}

.fr-view .fr-video > * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border: none;
    box-sizing: content-box;
    max-width: 100%;
}

.fr-view .fr-video.fr-dvb {
    clear: both;
    display: block;
}

.fr-view .fr-video.fr-dvb.fr-fvl { text-align: left; }

.fr-view .fr-video.fr-dvb.fr-fvr { text-align: right; }

.fr-view .fr-video.fr-dvi { display: inline-block; }

.fr-view .fr-video.fr-dvi.fr-fvl { float: left; }

.fr-view .fr-video.fr-dvi.fr-fvr { float: right; }