html { color: #000; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    color: #e23d3d;
    list-style: none;
    padding-left: 22%;
}

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after { content: ''; }

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input, textarea, select { font-size: 100%; }

legend { color: #000; }

#yui3-css-stamp.cssreset { display: none; }

html, body {
    font-family: 'PT Sans', sans-serif;    
    min-height: 100%;
    height: 100%;
}


body {
    background: #f4f4f4;
}
.wrapper {
    -moz-min-width: 1024px;
    -ms-min-width: 1024px;
    -o-min-width: 1024px;
    -webkit-min-width: 1024px;
    height: 100%;
    margin: 0 auto;
    min-width: 1024px;
    width: 60%;
    position: relative;
    background: #f4f4f4;
}


/***********Main-block************/

.logo {
        position: relative; /* Ôèêñèðîâàííîå ïîëîæåíèå */
        left: 0;
        bottom: 0; /* Ëåâûé íèæíèé óãîë */
        padding: 10px; /* Ïîëÿ âîêðóã òåêñòà */
        width: 10%;
        color: #fff;
        font-size: 24px;
}

hr { border-top: 1px solid #ccc !important; }

.left-sidebar {
    background: #41546a;
    display: inline-block;
    height: 100%;
    width: 11%;
    position: fixed;
}

.left-sidebar h1 {
    -webkit-border-radius: 0px 20px 0px 20px !important;
    background-color: #0aa863;
    color: #fff !important;
    font-size: 100% !important;
    margin: 0 !important;
    padding: 10px 20px !important;
    text-align: center !important;
}

.left-sidebar .menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-sidebar .menu-item:hover { cursor: pointer; }

.left-sidebar .menu .menu-item:hover .submenu {
    display: inline-block;
    width: 100%;
}

.left-sidebar .menu .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.left-sidebar .submenu-item:hover a {
    -moz-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -ms-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    background-color: #0aa863;
    color: #fff;
    transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
}

.left-sidebar .submenu-item a {
    -moz-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -ms-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    border-bottom: 1px solid #0aa863;
    border-top: 1px solid #0aa863;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    width: 100%;
}

nav {
    color: #fff;
    margin: 100% auto 0;
}

nav a {
    -moz-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -ms-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    border-bottom: 2px solid #0aa863;
    border-top: 2px solid #0aa863;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    width: 100%;
}

nav a:hover {
    -moz-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -ms-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    background-color: #0aa863;
    color: #fff;
    transition: border .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
}

.main-block {
    background: #f4f4f4;
    display: inline-block;
    width: 86% !important;
    margin-left: 15%;
}

.main-block h2 { text-align: center; }

.main-blcok-wrapper {
    margin: 0 auto;
    width: 90%;
}

.main-blcok-wrapper .reg-form { background: #f4f4f4 !important; }

.header {
    background-color: #f2f2f2;
    height: 100px;
    width: 100%;
}

/******Fill-block*****/

.fr-view textarea {
    margin-bottom: 20px;
    margin-top: 20px;

    max-width: 100% !important;
    min-height: 200px !important;
    min-width: 100%;
}


/******Login-block*****/

.login-header {
    -ms-border-radius: 3px;
    background-color: #0aa863;
    border-radius: 3px;
    height: 60px;
    line-height: 60px;
}

.login-form a {
    display: inline-block;
    line-height: 85px;
}

.login-header h1 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 65px;
}

.login-form {
    background-color: #fff;
    display: inline-block;
    padding: 40px 65px;
}

.login-form input {
    -ms-border-radius: 3px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px 12px;
    width: auto !important;
}

.login-form span {
    color: #666;
    display: inline-block;
    font-size: 16px;
    width: 95px;
}

.login-wrapper {
    margin: 20% auto 0;
    width: 435px;
}

.login-form .button {
    -moz-transition: 0.2s;
    -ms-border-radius: 3px;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    background-color: #0aa863;
    border: none;
    border-radius: 3px;
    color: white;
    float: right;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 18px;
    text-decoration: none;
    transition: 0.2s;
}

.login-form .button:hover {
    background: #0bc071;
    cursor: pointer;
}

.login-html {
    background-color: #41546a;
    height: auto;
}


/******Registration-block*****/

.reg-header {
    -ms-border-radius: 3px;
    background-color: #0aa863;
    border-radius: 3px;
    height: 60px;
    line-height: 60px;
}

.reg-header h1 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 65px;
}

.reg-form {
    background-color: #fff;
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}

.reg-form input {
    -ms-border-radius: 3px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px 12px;
    width: 55% !important;
}

.reg-form select {
    -ms-border-radius: 3px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 337px;
    padding: 10px 12px;
    width: 54.5%;
}

.reg-form span {
    color: #666;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: right;
    width: 160px;
}

.reg-wrapper {
    -moz-min-width: 576px;
    -ms-min-width: 576px;
    -o-min-width: 576px;
    -webkit-min-width: 576px;
    margin: 0 auto;
    min-width: 576px;
    width: 30%;
}

.reg-form .button {
    -moz-transition: 0.2s;
    -ms-border-radius: 3px;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    background-color: #0aa863;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    margin-left: 33%;
    margin-top: 20px;
    padding: 10px 18px;
    text-decoration: none;
    transition: 0.2s;
    width: auto !important;
}

.reg-form .button:hover {
    background: #0bc071;
    cursor: pointer;
}

.reg-html {
    background-color: #41546a;
    height: auto;
}

/*********Poup-up-block***********/

.b-popup {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
}

.b-popup .b-popup-content {
    -ms-border-radius: 5px;
    -ms-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    margin: 40px auto 0px auto;
    padding: 10px;
    width: 10%;
}

/*********Poup-up-block***********/



/*********Validate styles***********/

.error input[type="text"] {
    -ms-box-shadow: inset 0 1px 1px #000000 !important;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-box-shadow: inset 0 1px 1px #000000 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    border-color: #a94442 !important;
    box-shadow: inset 0 1px 1px #000000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

input.error {
    -ms-box-shadow: inset 0 1px 1px #000000 !important;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-box-shadow: inset 0 1px 1px #000000 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    border-color: #a94442 !important;
    box-shadow: inset 0 1px 1px #000000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

.error { color: red; }

input.valid {
    -ms-box-shadow: inset 0 1px 1px #000000 !important;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-box-shadow: inset 0 1px 1px #000000 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    border-color: #3c763d !important;
    box-shadow: inset 0 1px 1px #000000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

label {
    display: block !important;
    text-align: center;
}


@media only screen and (max-width: 1600px) {
    .wrapper {
        -moz-min-width: 1024px;
        -ms-min-width: 1024px;
        -o-min-width: 1024px;
        -webkit-min-width: 1024px;
        min-width: 1024px;
        width: 80%;
    }

    .left-sidebar .menu .menu-item:hover .submenu { width: 100%; }

    .b-popup .b-popup-content {
        max-width: 363px;
        width: 21.5%;
    }
}

@media only screen and (max-width: 1500px) {
    .wrapper {
        -moz-min-width: 1024px;
        -ms-min-width: 1024px;
        -o-min-width: 1024px;
        -webkit-min-width: 1024px;
        margin: 0;
        min-width: 1024px;
        width: 100%;
    }

    .logo {
        position: fixed!important;
    }

    .left-sidebar {
        -moz-min-width: 170px;
        -ms-min-width: 170px;
        -o-min-width: 170px;
        -webkit-min-width: 170px;
        min-width: 170px;
    }

    .left-sidebar .menu .menu-item:hover .submenu { width: 170px; }

    .b-popup .b-popup-content {
        max-width: 363px;
        width: 32%;
    }
}