@model DocumentFlow.Models.DocumentTemplate

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="b-popup">
    <div class="b-popup-content">
        @Html.Raw(Model.Text)
        <button class="button" id="close">Закрыть</button>
    </div>
</div>

<script>
    $("#close").click(function() {
        $(".b-popup").hide();
    });
</script>