@{
    ViewBag.Title = "Delete";
}

<div class="b-popup">
    <form class="b-popup-content">
        <h2>Вы уверены, что хотите удалить свой аккаунт?</h2>
        @Html.ActionLink("Да", "DeleteConfirmed", "Account")
        @Html.ActionLink("Нет", "Index", "Main")
    </form>
</div>